<div class="centered">

  <div>
    <span>Using service to register for custom icon</span>
    <mat-icon svgIcon="printer"></mat-icon>
  </div>

  <div>
    <span>Using service to register for custom icon</span>
    <mat-icon svgIcon="zoom-in"></mat-icon>
  </div>

  <div>
    <span>Using service to register for custom icon</span>
    <mat-icon svgIcon="zoom-out"></mat-icon>
  </div>

  <div>
    <span>Using service to register for custom icon</span>
    <mat-icon svgIcon="zoom-to-height"></mat-icon>
  </div>

  <div>
    <span>Using service to register for custom icon</span>
    <mat-icon svgIcon="zoom-to-width"></mat-icon>
  </div>

</div>
